In [1]:
import requests

In [2]:
req = requests.get('https://api.covid19api.com/all')

In [3]:
data = req.json()

In [4]:
print(len(data))

277524

In [5]:
indonesia = 0
for i in range(len(data)):
    if (data[i]['Country']=='Indonesia'):
        indonesia = indonesia+1
        print(data[i])

{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-22T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-23T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-24T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-25T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-26T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-27T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-28T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-29T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-30T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-01-31T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-01T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-02T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-03T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-04T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-05T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-06T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-07T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-08T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-09T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-10T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-11T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-12T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-13T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-14T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-15T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-16T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-17T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-18T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-19T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-20T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-21T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-22T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-23T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-24T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-25T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-26T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-27T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-28T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-02-29T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 0, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-03-01T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 2, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-03-02T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 2, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-03-03T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 2, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-03-04T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 2, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-03-05T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 4, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-03-06T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 4, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-03-07T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 6, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-03-08T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 19, 'Deaths': 0, 'Recovered': 0, 'Active': 0, 'Date': '2020-03-09T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 27, 'Deaths': 0, 'Recovered': 2, 'Active': 0, 'Date': '2020-03-10T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 34, 'Deaths': 1, 'Recovered': 2, 'Active': 0, 'Date': '2020-03-11T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 34, 'Deaths': 1, 'Recovered': 2, 'Active': 0, 'Date': '2020-03-12T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 69, 'Deaths': 4, 'Recovered': 2, 'Active': 0, 'Date': '2020-03-13T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 96, 'Deaths': 5, 'Recovered': 8, 'Active': 0, 'Date': '2020-03-14T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 117, 'Deaths': 5, 'Recovered': 8, 'Active': 0, 'Date': '2020-03-15T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 134, 'Deaths': 5, 'Recovered': 8, 'Active': 0, 'Date': '2020-03-16T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 172, 'Deaths': 5, 'Recovered': 8, 'Active': 0, 'Date': '2020-03-17T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 227, 'Deaths': 19, 'Recovered': 11, 'Active': 0, 'Date': '2020-03-18T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 311, 'Deaths': 25, 'Recovered': 11, 'Active': 0, 'Date': '2020-03-19T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 369, 'Deaths': 32, 'Recovered': 15, 'Active': 0, 'Date': '2020-03-20T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 450, 'Deaths': 38, 'Recovered': 15, 'Active': 0, 'Date': '2020-03-21T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 514, 'Deaths': 48, 'Recovered': 29, 'Active': 0, 'Date': '2020-03-22T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 579, 'Deaths': 49, 'Recovered': 29, 'Active': 0, 'Date': '2020-03-23T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 686, 'Deaths': 55, 'Recovered': 30, 'Active': 0, 'Date': '2020-03-24T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 790, 'Deaths': 58, 'Recovered': 31, 'Active': 0, 'Date': '2020-03-25T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 893, 'Deaths': 78, 'Recovered': 35, 'Active': 0, 'Date': '2020-03-26T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 1046, 'Deaths': 87, 'Recovered': 46, 'Active': 0, 'Date': '2020-03-27T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 1155, 'Deaths': 102, 'Recovered': 59, 'Active': 0, 'Date': '2020-03-28T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 1285, 'Deaths': 114, 'Recovered': 64, 'Active': 0, 'Date': '2020-03-29T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 1414, 'Deaths': 122, 'Recovered': 75, 'Active': 0, 'Date': '2020-03-30T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 1528, 'Deaths': 136, 'Recovered': 81, 'Active': 0, 'Date': '2020-03-31T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 1677, 'Deaths': 157, 'Recovered': 103, 'Active': 0, 'Date': '2020-04-01T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 1790, 'Deaths': 170, 'Recovered': 112, 'Active': 0, 'Date': '2020-04-02T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 1986, 'Deaths': 181, 'Recovered': 134, 'Active': 0, 'Date': '2020-04-03T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 2092, 'Deaths': 191, 'Recovered': 150, 'Active': 0, 'Date': '2020-04-04T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 2273, 'Deaths': 198, 'Recovered': 164, 'Active': 0, 'Date': '2020-04-05T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 2491, 'Deaths': 209, 'Recovered': 192, 'Active': 0, 'Date': '2020-04-06T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 2738, 'Deaths': 221, 'Recovered': 204, 'Active': 0, 'Date': '2020-04-07T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 2956, 'Deaths': 240, 'Recovered': 222, 'Active': 0, 'Date': '2020-04-08T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 3293, 'Deaths': 280, 'Recovered': 252, 'Active': 0, 'Date': '2020-04-09T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 3512, 'Deaths': 306, 'Recovered': 282, 'Active': 0, 'Date': '2020-04-10T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}
{'Country': 'Indonesia', 'CountryCode': 'ID', 'Lat': '-0.79', 'Lon': '113.92', 'Confirmed': 3842, 'Deaths': 327, 'Recovered': 286, 'Active': 0, 'Date': '2020-04-11T00:00:00Z', 'LocationID': '77f8713d-8a32-41ed-b1e8-d4d46c798afd'}

In [6]:
print(indonesia)

81

In [8]:
import pandas as pd

In [9]:
dunia = pd.DataFrame(data)

In [10]:
indonesia = dunia[dunia['Country']=='Indonesia']

In [11]:
indonesia.drop(['Province', 'City','CityCode'], axis = 1, inplace=True)

C:\Users\Fachriezal\anaconda3\envs\py38\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
indonesia

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,LocationID
11267,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-22T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11268,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-23T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11269,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-24T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11270,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-25T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11271,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-26T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd
...,...,...,...,...,...,...,...,...,...,...
11343,Indonesia,ID,-0.79,113.92,2738,221,204,0,2020-04-07T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11344,Indonesia,ID,-0.79,113.92,2956,240,222,0,2020-04-08T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11345,Indonesia,ID,-0.79,113.92,3293,280,252,0,2020-04-09T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11346,Indonesia,ID,-0.79,113.92,3512,306,282,0,2020-04-10T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11347,Indonesia,ID,-0.79,113.92,3842,327,286,0,2020-04-11T00:00:00Z,77f8713d-8a32-41ed-b1e8-d4d46c798afd

In [13]:
indonesia.Date = pd.to_datetime(indonesia['Date']).dt.date

C:\Users\Fachriezal\anaconda3\envs\py38\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [14]:
indonesia

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,LocationID
11267,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-22,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11268,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-23,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11269,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-24,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11270,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-25,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11271,Indonesia,ID,-0.79,113.92,0,0,0,0,2020-01-26,77f8713d-8a32-41ed-b1e8-d4d46c798afd
...,...,...,...,...,...,...,...,...,...,...
11343,Indonesia,ID,-0.79,113.92,2738,221,204,0,2020-04-07,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11344,Indonesia,ID,-0.79,113.92,2956,240,222,0,2020-04-08,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11345,Indonesia,ID,-0.79,113.92,3293,280,252,0,2020-04-09,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11346,Indonesia,ID,-0.79,113.92,3512,306,282,0,2020-04-10,77f8713d-8a32-41ed-b1e8-d4d46c798afd
11347,Indonesia,ID,-0.79,113.92,3842,327,286,0,2020-04-11,77f8713d-8a32-41ed-b1e8-d4d46c798afd

In [15]:
indonesia.dtypes

Country        object
CountryCode    object
Lat            object
Lon            object
Confirmed       int64
Deaths          int64
Recovered       int64
Active          int64
Date           object
LocationID     object
dtype: object

In [16]:
indonesia.to_csv('Data_Covid19_Indonesia.csv', index=False)

In [17]:
dunia

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,LocationID,Province,City,CityCode
0,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-22T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626,NaN,NaN,NaN
1,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-23T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626,NaN,NaN,NaN
2,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-24T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626,NaN,NaN,NaN
3,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-25T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626,NaN,NaN,NaN
4,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-26T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
277519,Zimbabwe,ZW,-19.02,29.15,11,2,0,0,2020-04-07T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f,NaN,NaN,NaN
277520,Zimbabwe,ZW,-19.02,29.15,11,3,0,0,2020-04-08T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f,NaN,NaN,NaN
277521,Zimbabwe,ZW,-19.02,29.15,11,3,0,0,2020-04-09T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f,NaN,NaN,NaN
277522,Zimbabwe,ZW,-19.02,29.15,13,3,0,0,2020-04-10T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f,NaN,NaN,NaN
277523,Zimbabwe,ZW,-19.02,29.15,14,3,0,0,2020-04-11T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f,NaN,NaN,NaN

In [18]:
dunia.drop(['Province', 'City','CityCode'], axis = 1, inplace=True)

In [19]:
dunia

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,LocationID
0,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-22T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626
1,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-23T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626
2,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-24T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626
3,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-25T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626
4,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-26T00:00:00Z,828ca7f3-144f-4732-b659-a60f97755626
...,...,...,...,...,...,...,...,...,...,...
277519,Zimbabwe,ZW,-19.02,29.15,11,2,0,0,2020-04-07T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f
277520,Zimbabwe,ZW,-19.02,29.15,11,3,0,0,2020-04-08T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f
277521,Zimbabwe,ZW,-19.02,29.15,11,3,0,0,2020-04-09T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f
277522,Zimbabwe,ZW,-19.02,29.15,13,3,0,0,2020-04-10T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f
277523,Zimbabwe,ZW,-19.02,29.15,14,3,0,0,2020-04-11T00:00:00Z,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f

In [20]:
dunia.Date = pd.to_datetime(dunia['Date']).dt.date

In [21]:
dunia

,Country,CountryCode,Lat,Lon,Confirmed,Deaths,Recovered,Active,Date,LocationID
0,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-22,828ca7f3-144f-4732-b659-a60f97755626
1,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-23,828ca7f3-144f-4732-b659-a60f97755626
2,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-24,828ca7f3-144f-4732-b659-a60f97755626
3,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-25,828ca7f3-144f-4732-b659-a60f97755626
4,Afghanistan,AF,33.94,67.71,0,0,0,0,2020-01-26,828ca7f3-144f-4732-b659-a60f97755626
...,...,...,...,...,...,...,...,...,...,...
277519,Zimbabwe,ZW,-19.02,29.15,11,2,0,0,2020-04-07,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f
277520,Zimbabwe,ZW,-19.02,29.15,11,3,0,0,2020-04-08,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f
277521,Zimbabwe,ZW,-19.02,29.15,11,3,0,0,2020-04-09,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f
277522,Zimbabwe,ZW,-19.02,29.15,13,3,0,0,2020-04-10,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f
277523,Zimbabwe,ZW,-19.02,29.15,14,3,0,0,2020-04-11,ea6b4f98-988c-4ff1-b6e9-3d75c654ea0f

In [22]:
dunia.to_csv('Dunia_Covid-19_Dunia.csv', index=False)